body {
	margin: 0px;
	padding: 0px;
	background: #000;
	width: 800px;
	font-family: 'Maven Pro', sans-serif;
}

#game {
	margin-top: 50px;
	background: #fff;
	z-index: 1;
	position: absolute;
	width: 100%;
}

#sprite {
	margin-top: 50px;
	z-index: 2;
	position: absolute;
	width: 100%;
}

#overlay {
	margin-top: 50px;
	z-index: 3;
	position: absolute;
	width: 100%;
}

#lighting {
	margin-top: 50px;
	opacity: 0.7;
	z-index: 4;
	position: absolute;
	width: 100%;
}

#debug {
	margin-top: 50px;
	opacity: 0;
	z-index: 6;
	position: absolute;
	width: 100%;
}

#gameOver {
	font-size: 10px;
	text-align: center;
	font-weight: bolder;
	width: 100px;
	margin-top: 50px;
	padding: 10px;
	color: #000;
	opacity: 0;
	z-index: 7;
	position: absolute;
	background: #fff;
	border: 1px solid #000;
}

